# Python
*.pyc
__pycache__/

# Virtual environment
venv/

# IDE-specific files
.idea/
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Prevent local DB from being replicated
backend/wealthwise.db